body{
    background-color: darkseagreen;
    text-align: center;
    margin: 20px;
}
button{
    background-color: blue;
}
.box{
    border: 3px solid rgb(51, 47, 47);
    padding: 15px;
    text-align: center;
    margin:0 auto;
    background-color: white;
    width: 300px;
    border-radius: 8px;
    
}
h1{
    color: black;
    margin-bottom: 30px;
}
.heading{
    color: darkred;
}
img{
    width: 90%;
    height: auto;
    border-radius: 5px;
    border: none;
}