*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    color: white;
    padding: 15px 20px;
}
.logo {
    font-size: 1.5em;
    font-weight: bold;


}
.nav-links {
    display: flex;
    list-style: none;


}
.nav-links li {
    margin: 0 15px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.actions a{
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* mobile phone */
@media (max-width: 768px){
    .nav-links {
        display: none;
    }
    .actions a{
        font-size: 0.9rem;
    }
}
/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    .nav-links a{
        font-size: 0,9rem;
    }
}
/* Desktop */
@media (min width: 1025px) {
    .nav-links a{
        font size: 1 rem;
    }
}
.saini {
    background-image: 


https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Famazon&psig=AOvVaw0NIiaOfMPa2JyaGbLARTQx&ust=1765199405527000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCOjet7DGq5EDFQAAAAAdAAAAABAE;
}