body{
    background-color: rgb(218, 218, 218)
}
h1{
    text-align: center;
}
.container{
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}
.items {
    background-color: white;
    width: 500px;
    height: 560px;
    margin-left: 30px;
    border: 1px solid white;
    border-radius: 5%;
    text-align: center;

}
.heading1{
color: green;
    
    
    
}
button{
    background-color: blue;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 10%;
    
}
img{
    width: 300px;
    margin-top: 10%;
}

 
    

 
#oven{
    margin-top: 20%;
}